$labelSize:32px;
$padding:10px;

.jTimePicker {
    font-family: 微软雅黑, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &,
    * {
        box-sizing: border-box;
    }

    text-align: left;


    color: #333;
    position: relative;
    user-select: none;
    display: inline-block;
    line-height: 0px;

    .jTimePicker-input {
        border: 1px solid rgb(238, 238, 238);
        padding: 0px 8px;
        border-radius: 5px;
        cursor: pointer;
        line-height: 2.45em;
        vertical-align: middle;

        span {
            opacity: 0.3;
        }
    }

    .jTimePicker-calendarDiv {
        float: left;
    }

    .jTimePicker-assistBar {

        margin-left: 246px;
        height: 277px;
        padding-bottom: 10px;
        padding-top: 20px;

        .assistBar-content {
            border-left: 1px solid #eee;
            height: 100%;
            padding: 0px 0px 0px 10px;
            width: auto;
            min-width: 232px;

            .itemBox {
                margin: 0px 10px 10px 0px;
                display: inline-block;
                vertical-align: middle;
            }

            h4 {
                line-height: 24px;
                margin: 0px;
                padding: 0px;
                font-size: 14px;
            }
        }
    }


    .jTimePicker-timePicker {
        position: absolute;
        top: 100%;
        margin-top: 5px;
        display: block;
        z-index: 9;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        overflow: hidden;
        padding-bottom: 10px;
    }



    .jTimePicker-calendarBar {
        text-align: center;
        padding: 0px 10px;
        overflow: hidden;

        .enterBt,
        .cancelBt {
            margin: 0px 5px;
        }
    }

    .enterBt,
    .cancelBt {
        display: inline-block;
        font-size: 14px;
        line-height: 28px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0px 8px;
        white-space: nowrap;
        width: 100px;
    }

    .enterBt {
        background-color: #559FF0;
        color: #fff;
    }

    .cancelBt {
        background-color: #eee;
    }


    .jTimePicker-calendarNavBox {
        padding: $padding $padding 0 $padding;
        width: $labelSize * 7+$padding * 2+1px * 2;

        .calendar-nav {
            font-size: 16px;
            overflow: hidden;
            text-align: center;


            .input-box {
                width: 162px;
                text-align: center;
            }

            div {
                display: inline-block;
                line-height: $labelSize;
                vertical-align: unset;

                &[isRange=true] {
                }
            }

            .calendar-nav-text {
                cursor: pointer;
                padding: 0 5px;

                &:hover {
                    background-color: #eee;
                }
            }

            .pre,
            .next {
                width: $labelSize - 4px;
                height: $labelSize - 4px;
                line-height: $labelSize - 4px;
                cursor: pointer;
            }


            .pre {
                float: left;

            }

            .next {
                float: right;

            }
        }
    }

    .jTimePicker-calendar {
        width: $labelSize * 7+$padding * 2+1px * 2;
        padding: 0 $padding $padding $padding;
        background-color: #fff;



        .calendar {
            text-align: center;

            .calendar-header {
                span {
                    width: $labelSize;
                    height: $labelSize;
                    line-height: $labelSize;
                    display: inline-block;
                    font-size: 16px;
                }
            }

            .calendar-body {
                line-height: 0px;

                div {
                    display: inline-block;
                    font-size: 13px;
                    color: #777C7C;

                    span {
                        width: $labelSize;
                        height: $labelSize;
                        line-height: $labelSize;
                        display: inline-block;
                        background-color: #eee;
                        cursor: pointer;
                    }

                    &:hover {
                        span {
                            background-color: #559FF0;
                            color: #fff;
                        }

                    }

                    &[disabled=true] {
                        opacity: 0.3;
                    }


                    &[active=true] {
                        span {
                            background-color: #559FF0;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }


}